In [43]:
import pandas as pd
import oracledb

In [44]:

dsn = oracledb.makedsn("localhost", 1522, service_name="stu")
connection = oracledb.connect(user="ora_msan99", password="a85263259", dsn=dsn)

In [56]:

Province=[]
cur = connection.cursor()
for row in cur.execute("select * from Province"):
    Province.append(row)

cur.close()
Industry=[]
cur = connection.cursor()
for row in cur.execute("select * from Industry"):
    Industry.append(row)

    
cur.close()

IndustryMapping=[]

cur = connection.cursor()
for row in cur.execute("select * from IndustryMapping"):
    IndustryMapping.append(row)
    
cur.close()
Emissions=[]
cur = connection.cursor()
for row in cur.execute("select * from Emissions"):
    Emissions.append(row)
    
cur.close()

In [57]:
Emissions = pd.DataFrame(Emissions,columns=['Geography', 'IOIC', 'Year', 'IndustryID', 'IndustryName', 'Emissions'])

In [58]:
IndustryMapping = pd.DataFrame(IndustryMapping,columns=['IndustryCode', 'IndustryName', 'NAICS', 'IOIC', 'Durable'])

In [61]:
Province = pd.DataFrame(Province,columns=['Geography', 'Year', 'Population'])

In [62]:
Industry = pd.DataFrame(Industry,columns=['Good_Type', 'Geography', 'Year','No_Employed'])

In [63]:
Industry

         Good_Type         Geography  Year  No_Employed
0    Manufacturing            Canada  2012       1776.6
1    Manufacturing            Canada  2013       1732.6
2    Manufacturing            Canada  2014       1721.7
3    Manufacturing            Canada  2015       1734.4
4    Manufacturing            Canada  2016       1729.8
..             ...               ...   ...          ...
325   Non-durables  British Columbia  2017         77.4
326   Non-durables  British Columbia  2018         75.6
327   Non-durables  British Columbia  2019         65.4
328   Non-durables  British Columbia  2020         68.9
329   Non-durables  British Columbia  2021         79.2

[330 rows x 4 columns]