In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
# tidying the populations dataset
populations <- read.csv("../data/population_ests_per_province_2012-2021.csv")
head(populations)

# turn the columns into rows
pops_pivoted <- populations |> pivot_longer(!Geography, names_to = "period", values_to = "count")
head(pops_pivoted)

# split the 'period' column into quarter and year
pops_split <- pops_pivoted %>% separate_wider_delim(period, ".", names = c("quarter", "year"))
head(pops_split)

# only keep rows where quarter = Q4, because this is this population at the end of each year
pops_sum <- pops_split |>
            filter(quarter == "Q4")|>
            select(-quarter)
pops_sum
write.csv(pops_sum, "../data/tidied_population_estimates.csv",row.names = FALSE)

In [59]:
# tidying the populations dataset
populations <- read.csv("../data/population_per_province_data.csv")
head(populations)

# turn the columns into rows
pops_pivoted <- populations |> pivot_longer(!Geography, names_to = "period", values_to = "count")
head(pops_pivoted)

# # split the 'period' column into quarter and year
# pops_split <- pops_pivoted %>% separate_wider_delim(period, ".", names = c("quarter", "year"))
# head(pops_split)

# # # only keep rows where quarter = Q4, because this is this population at the end of each year
# pops_sum <- pops_split |>
#             filter(quarter == "Q4")|>
#             select(-quarter)
# pops_sum
# write.csv(pops_sum, "../data/tidied_population_estimates.csv",row.names = FALSE)

  Geography                 Q1.2012  Q2.2012  Q3.2012  Q4.2012  Q1.2013
1 Canada                    34516032 34592192 34713395 34834973 34881794
2 Newfoundland and Labrador   526115   525550   526235   527065   527129
3 Prince Edward Island        144208   144365   144415   144396   144041
4 Nova Scotia                 943907   943317   943163   942829   942045
5 New Brunswick               757039   757024   758121   758408   758026
6 Quebec                     8028516  8038332  8059752  8076838  8081006
  Q2.2013  Q3.2013  Q4.2013  Q1.2014  ⋯ Q3.2019  Q4.2019  Q1.2020  Q2.2020
1 34956567 35080992 35209597 35247023 ⋯ 37618495 37828162 37928208 38006941
2   527177   526960   527948   528065 ⋯   527643   528442   528231   527733
3   143807   143942   143943   143828 ⋯   155792   157025   157494   158401
4   940647   939808   939442   939166 ⋯   975799   982592   984130   986204
5   757854   758261   758379   758713 ⋯   777387   780907   781054   782512
6  8089004  8108825  8122462  8123138 ⋯  8483186  8521542  8537376  8550900
  Q3.2020  Q4.2020  Q1.2021  Q2.2021  Q3.2021  Q4.2021
1 38028638 38027406 38058291 38140918 38239864 38451454
2   526884   526046   525895   526195   527056   528335
3   159193   159179   159240   160334   162133   163775
4   989168   989154   990025   993946   999908  1006805
5   783432   783814   784950   787002   790802   795755
6  8551095  8551865  8550561  8556015  8572020  8603553

  Geography period  count
1 Canada    Q1.2012 34516032
2 Canada    Q2.2012 34592192
3 Canada    Q3.2012 34713395
4 Canada    Q4.2012 34834973
5 Canada    Q1.2013 34881794
6 Canada    Q2.2013 34956567

In [65]:
# tidying the employment dataset
employment <- read.csv("../data/manufacturing_employment_data.csv")
# head(employment)

# # renaming columns 
old_names <- c("naics_industry", "Province", "X2012", "X2013", "X2014", 
               "X2015", "X2016", "X2017", "X2018", "X2019", "X2020", "X2021")
new_names <- c("naics_industry", "province", "2012", "2013", "2014", 
               "2015", "2016", "2017", "2018", "2019", "2020", "2021")
colnames(employment)[colnames(employment) %in% old_names] <- new_names
# head(employment)

emp_pivoted <- employment |> pivot_longer(!naics_industry:province, names_to = "year", values_to = "count")
head(emp_pivoted)

write.csv(emp_pivoted, "../data/tidied_employment_estimates.csv",row.names = FALSE)

  naics_industry province year count
1 Manufacturing  Canada   2012 1776.6
2 Manufacturing  Canada   2013 1732.6
3 Manufacturing  Canada   2014 1721.7
4 Manufacturing  Canada   2015 1734.4
5 Manufacturing  Canada   2016 1729.8
6 Manufacturing  Canada   2017 1767.5